<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{$SEO['title']}</title>
<meta name="keywords" content="{$SEO['keywords']}">
<meta name="description" content="{$SEO['description']}">
<link rel="stylesheet" href="__CSS__bootstrap.min.css">
<link rel="stylesheet" href="__CSS__style.css">
<script>
var ROOT_PATH = '__WEB_PATH__',RESOURCES_PATH = '__STATICS__';
var ADMIN_USERNAME = '{$admin_user['username']}';
</script>
<script src="__JS__jquery.min.js" type="text/javascript"></script>
<script src="__JS__bootstrap.min.js" type="text/javascript"></script>
<script src="__JS__main.js" type="text/javascript"></script>