body {
	font-family: "Microsoft yahei","Century Gothic","Helvetica Neue", Helvetica, Arial, sans-serif;
}
p{
	margin: 0 0 0 0;
}
ul,li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.breadcrumb{
	border-radius: 0px;
}
a:hover{
	text-decoration: none;
}
.pagination {
	margin-top: 0;
	margin-bottom: 0;
}
